link(rel="stylesheet" href="./components/sharedelements/radiobutton/radiobutton.scss")

mixin radioButton()
  .radioButton
    .test
      input(type="radio", name="gender", value="1")
      | Мужчина
      input(type="radio", name="gender", value="0")
      | Женщина