include ../sharedelements/InputForm

doctype html

html(lang="en")
    head
        link(rel="stylesheet" href="/index.scss")
        link(rel="stylesheet" href="/formelements/elements.sass")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="./../index.js")
        meta(charset="UTF-8")
        title Elements
    body(class= "formElements")
        img(class="icon" src="/pics/Icon.svg")
        - let drwnCount = 0;
        +customBox({
            left: "TEXT FIELD",
            right: "DEFAULT",
            placeholder: "Email",
        })
        +customBox({
            left: "TEXT FIELD",
            right: "HOVER / FOCUS",
            placeholder: "This is pretty awesome"
        })
        +customBox({
            left: "DROPDOWN",
            right: "DEFAULT",
            placeholder: "Список гостей",
            arrow: "simple",
            id: drwnCount++,
            items: {"Спальни":2,"Кровати":2,"Ванные комнаты":0}
        })
        +customBox({
            left: "MASKED TEXT FIELD",
            right: "DEFAULT",
            placeholder: "ДД.ММ.ГГГГ"
        })
        .dateInputBoxes
            +customBox({
                width: "150px",
                left: "DATE DROPDOWN",
                placeholder: "ДД.ММ.ГГГГ",
                arrow: "simple",
                id: drwnCount++
            })
            +customBox({
                width: "150px",
                left: "DATE DROPDOWN",
                placeholder: "19.08.2019",
                arrow: "simple",
                id: drwnCount++
            })
        .filterSubDrwns
            +customBox({
                width: "266px",
                left: "FILTER DATE DROPDOWN",
                placeholder: "19 авг - 23 авг ",
                arrow: "simple",
                id: drwnCount++
            })
            +customBox({
                width: "266px",
                left: "SUBSCRIPTION TEXT FIELD",
                placeholder: "Email",
                arrow: "purple"
            })
        .expandDrpwn
            +customBox({
                width: "266px",
                left: "DROPDOWN",
                right: "DEFAULT",
                placeholder: "2 спальни, 2 кровати...",
                arrow: "simple",
                id: drwnCount++
            })
            +customBox({
                width: "266px",
                left: "DROPDOWN",
                right: "EXPANDED",
                placeholder: "2 спальни, 2 кровати...",
                arrow: "simple",
                id: drwnCount++
            })