include ../sharedelements/InputForm

doctype html

html(lang="en")
  head
    link(rel="stylesheet" href="/index.scss")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    meta(charset="UTF-8")
    title Elements
  body(class= "formElements")
    img(class="icon" src="/pics/Icon.svg")
    +customBox({
      left: "TEXT FIELD",
      right: "DEFAULT",
      placeholder: "   Email"
    })
    +customBox({
      left: "TEXT FIELD",
      right: "HOVER / FOCUS",
      placeholder: "    This is pretty awesome"})
    +customBox({
      width: "300px",
      left: "DROPDOWN",
      right: "DEFAULT",
      placeholder: "  Список гостей",
      arrow: true
    })
    +customBox({
      left: "MASKED TEXT FIELD",
      right: "DEFAULT",
      placeholder: "    ДД.ММ.ГГГГ"
    })