.main {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
}

@mixin defaultBox() {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  position: absolute;
}

@mixin defaultText {  
  position: absolute;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkShade100 {
  @include defaultBox();
  left: 150px;
  top: 145px;
  background: #1F2041;
}

.darkShadeText100 {
  @include defaultText();
  width: 159px;
  height: 57px;
  left: 260px;
  top: 152px;
}

.darkShade75 {
  @include defaultBox();
  left: 150px;
  top: 235px;
  background: rgba(31, 32, 65, 0.75);
}

.darkShadeText75 {
  @include defaultText();
  width: 150px;
  height: 57px;
  left: 260px;
  top: 242px;
}

.darkShade50 {
  @include defaultBox();
  left: 149.74px;
  top: 324.56px;
  background: rgba(31, 32, 65, 0.5);
}

.darkShadeText50 {
  @include defaultText();
  width: 151px;
  height: 57px;
  left: 260px;
  top: 332px;
}

.darkShade25 {
  @include defaultBox();
  left: 150px;
  top: 415px;
  background: rgba(31, 32, 65, 0.25);
}

.darkShadeText25 {
  @include defaultText();
  width: 149px;
  height: 57px;
  left: 260px;
  top: 422px;
}

.darkShade5 {
  @include defaultBox();
  left: 150px;
  top: 505px;
  background: rgba(31, 32, 65, 0.05);
}

.darkShadeText5 {
  @include defaultText();
  width: 139px;
  height: 58px;
  left: 260px;
  top: 511px;
}

.purple {
  @include defaultBox();
  left: 150px;
  top: 595px;
  background: #BC9CFF;
}

.purpleText{
  @include defaultText();
  width: 82px;
  height: 58px;
  left: 260px;
  top: 601px;
}

.green {
  @include defaultBox();
  left: 150px;
  top: 685px;
  background: #6FCF97;
}

.greenText {
  @include defaultText();
  width: 77px;
  height: 57px;
  left: 260px;
  top: 692px;
}

.h1 {
  position: absolute;
  width: 29px;
  height: 30px;
  left: 854px;
  top: 145px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.h2 {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 856px;
  top: 255px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.h3 {
  position: absolute;
  width: 17px;
  height: 15px;
  left: 866px;
  top: 353px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
}

.body {
  position: absolute;
  width: 37px;
  height: 24px;
  left: 846px;
  top: 418px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.h1Text {
  position: absolute;
  width: 336px;
  height: 60px;
  left: 913px;
  top: 145px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: #1F2041;
}

.h2Text {
  position: absolute;
  width: 282px;
  height: 48px;
  left: 913px;
  top: 255px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.h3Text {
  position: absolute;
  width: 186px;
  height: 15px;
  left: 913px;
  top: 353px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.bodyText {
  position: absolute;
  width: 301px;
  height: 48px;
  left: 913px;
  top: 418px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}