doctype html

mixin shadesText(main,second)
  .shadesText
    p(class = "shadeTextMain")=main
    p(class = "shadeTextSecond")=second

html(lang="en")
  head
    link(rel="stylesheet" href="./colors.sass")
    link(rel="stylesheet" href="/index.scss")
    meta(charset="UTF-8")
  body
    img(class="icon" src="/pics/Icon.svg")
    .main
      .shadesColumn
        .darkShade100
        +shadesText("Dark Shade 100%", " #1F2041")
        .darkShade75
        +shadesText("Dark Shade 75%", " #1F2041")
        .darkShade50
        +shadesText("Dark Shade 50%", " #1F2041")
        .darkShade25
        +shadesText("Dark Shade 25%", " #1F2041")
        .darkShade5
        +shadesText("Dark Shade 5%", "#1F2041")
        .purple
        +shadesText("Purple", "#BC9CFF")
        .green
        +shadesText("Green", "#6FCF97")
      .textColumn
        h1(class = "h1") H1
        .h1Text This one is the sub-section or widget title
        h2(class = "h2") H2
        .h2Text Next one is the item title inside widgets
        h3(class = "h3") H3
        .h3Text This is a label or CTA text
        .body Body
        .bodyText This is the body text which is used for most of the design, like paragraphs, lists, etc.