@import '../index.scss'

.test
  border: 4px red solid

@mixin defaultBox()
  position: relative
  border-radius: 6px
  width: 70px
  height: 70px

@mixin defaultText
  position: relative
  font-family: Quicksand
  font-style: normal
  font-weight: bold
  font-size: 19px
  line-height: 29px
  color: #1F2041
  margin: 5px 0 0 40px
  width: 159px

.main
  position: relative
  width: 1440px
  height: 900px
  background: #FFFFFF
  margin: 145px 190px 145px 150px
  display: flex

.shadesColumn
  width: 270px
  height: 70%
  display: flex
  flex-wrap: wrap

.darkShade100
  @include defaultBox()
  background: $darkShade100

.shadesText
  height: 57px

.shadeTextMain
  @include defaultText()

.shadeTextSecond
  @include defaultText()
  font-family: Quicksand-Regular
  line-height: 19px

.darkShade75
  @include defaultBox()
  background: $darkShade75

.darkShade50
  @include defaultBox()
  background: $darkShade50

.darkShade25
  @include defaultBox()
  background: $darkShade25

.darkShade5
  @include defaultBox()
  background: $darkShade5

.purple
  @include defaultBox()
  background: $purple

.green
  @include defaultBox()
  background: $green

.h1
  position: absolute
  width: 29px
  height: 30px
  left: 854px
  top: 145px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 24px
  line-height: 29px
  text-align: right
  color: $darkShade25


.h2
  position: absolute
  width: 27px
  height: 24px
  left: 856px
  top: 255px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 19px
  line-height: 23px
  text-align: right
  color: $darkShade25


.h3
  position: absolute
  width: 17px
  height: 15px
  left: 866px
  top: 353px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  text-align: right
  text-transform: uppercase
  color: $darkShade25


.body
  position: absolute
  width: 37px
  height: 24px
  left: 846px
  top: 418px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 24px
  text-align: right
  color: $darkShade25


.h1Text
  position: absolute
  width: 336px
  height: 60px
  left: 913px
  top: 145px
  font-family: Quicksand
  font-style: normal
  font-weight: bold
  font-size: 23px
  line-height: 30px
  color: $darkShade100


.h2Text
  position: absolute
  width: 282px
  height: 48px
  left: 913px
  top: 255px
  font-family: Quicksand
  font-style: normal
  font-weight: bold
  font-size: 19px
  line-height: 24px
  color: $darkShade100


.h3Text
  position: absolute
  width: 186px
  height: 15px
  left: 913px
  top: 353px
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  color: $darkShade100


.bodyText
  position: absolute
  width: 301px
  height: 48px
  left: 913px
  top: 418px
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 13.5px
  line-height: 24px
  color: $darkShade75

