include parts/login
include parts/findcard
include parts/payCard
include parts/regCard
include parts/calendar

mixin cards()
  .cards
    +login()
    +findCard()
    +payCard()
    +regCard()
    +calendar()