include parts/login
include parts/findcard
include parts/payCard

mixin cards()
    .cards
        +login({test: 'test', test: "test"})
        +findCard({test: 'test', test: "test"})
        +payCard({test: 'test', test: "test"})