include parts/Login
include parts/Findcard
include parts/PayCard
include parts/RegCard
include parts/Calendar

html(lang="en")
  head
    link(rel="stylesheet" href="/../../index.css")
    meta(charset="UTF-8")
  body
    .cards
      +login()
      +findCard()
      +payCard()
      +regCard()
      +calendar()