link(rel="stylesheet" href="./components/sharedelements/button.scss")

mixin whiteButton(arg)
  .whiteButton
    case arg
      when "Создать"
        button(class = "whiteButtonCreate")
          .whiteButtonText=arg
      when "Войти"
        button(class = "whiteButtonEnter")
          .whiteButtonText=arg
