include ../../small/inputbox/inputbox

style
  include login.scss

mixin login()
    -
      var log = "login"
.login
  .border
    .loginText Войти
    div(class = "inputBox")
      p(class = "inputBoxText") Email

