style
  include login.scss

mixin login()
    -
      var log = "login"
.login
  div(class = "login border")
    p(class = "loginText") Войти
    div(class = "emailRectangle")
      p(class = "emailText") Email