style
  include colors.scss
  include textStyles.scss
  include ../fonts.scss

mixin colorsTypes()
  .main
    div(class = "defaultBox darkShade100 ")
    p(class = "defaultText darkShadeText100") Dark Shade 100% #1F2041
    div(class = "defaultBox  darkShade75")
    p(class = "defaultText darkShadeText75") Dark Shade 75% #1F2041
    div(class = "defaultBox  darkShade50")
    p(class = "defaultText darkShadeText50") Dark Shade 50% #1F2041
    div(class = "defaultBox  darkShade25")
    p(class = "defaultText darkShadeText25") Dark Shade 25% #1F2041
    div(class = "defaultBox  darkShade5")
    p(class = "defaultText darkShadeText5") Dark Shade 5% #1F2041
    div(class = "defaultBox  purple")
    p(class = "defaultText purpleText") Purple #BC9CFF
    div(class = "defaultBox  green")
    p(class = "defaultText greenText") Green #6FCF97
    .mainRect
    h1(class = "h1") H1
    h2(class = "h2") H2
    h3(class = "h3") H3
    .body Body
    .h1Text This one is the sub-section or widget title
    .h2Text Next one is the item title inside widgets
    .h3Text This is a label or CTA text
    .bodyText This is the body text which is used for most of the design, like paragraphs, lists, etc.