.main {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
}

@mixin defaultBox() {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  position: absolute;
}

@mixin defaultText {  
  position: absolute;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkShade100 {
  @include defaultBox();
  left: 150px;
  top: 145px;
  background: #1F2041;
}

.darkShadeText100 {
  @include defaultText();
  width: 159px;
  height: 57px;
  left: 260px;
  top: 152px;
}

.darkShade75 {
  @include defaultBox();
  left: 150px;
  top: 235px;
  background: rgba(31, 32, 65, 0.75);
}

.darkShadeText75 {
  @include defaultText();
  width: 150px;
  height: 57px;
  left: 260px;
  top: 242px;
}

.darkShade50 {
  @include defaultBox();
  left: 149.74px;
  top: 324.56px;
  background: rgba(31, 32, 65, 0.5);
}

.darkShadeText50 {
  @include defaultText();
  width: 151px;
  height: 57px;
  left: 260px;
  top: 332px;
}

.darkShade25 {
  @include defaultBox();
  left: 150px;
  top: 415px;
  background: rgba(31, 32, 65, 0.25);
}

.darkShadeText25 {
  @include defaultText();
  width: 149px;
  height: 57px;
  left: 260px;
  top: 422px;
}

.darkShade5 {
  @include defaultBox();
  left: 150px;
  top: 505px;
  background: rgba(31, 32, 65, 0.05);
}

.darkShadeText5 {
  @include defaultText();
  width: 139px;
  height: 58px;
  left: 260px;
  top: 511px;
}

.purple {
  @include defaultBox();
  left: 150px;
  top: 595px;
  background: #BC9CFF;
}

.purpleText{
  @include defaultText();
  width: 82px;
  height: 58px;
  left: 260px;
  top: 601px;
}

.green {
  @include defaultBox();
  left: 150px;
  top: 685px;
  background: #6FCF97;
}

.greenText {
  @include defaultText();
  width: 77px;
  height: 57px;
  left: 260px;
  top: 692px;
}