link(rel="stylesheet" href="./components/colorstypes/colors.scss")

mixin colorsTypes()
  .main
    div(class = "darkShade100 ")
    p(class = "darkShadeText100") Dark Shade 100% #1F2041
    div(class = "darkShade75")
    p(class = "darkShadeText75") Dark Shade 75% #1F2041
    div(class = "darkShade50")
    p(class = "darkShadeText50") Dark Shade 50% #1F2041
    div(class = "darkShade25")
    p(class = "darkShadeText25") Dark Shade 25% #1F2041
    div(class = "darkShade5")
    p(class = "darkShadeText5") Dark Shade 5% #1F2041
    div(class = "purple")
    p(class = "purpleText") Purple #BC9CFF
    div(class = "green")
    p(class = "greenText") Green #6FCF97
    .mainRect
    h1(class = "h1") H1
    h2(class = "h2") H2
    h3(class = "h3") H3
    .body Body
    .h1Text This one is the sub-section or widget title
    .h2Text Next one is the item title inside widgets
    .h3Text This is a label or CTA text
    .bodyText This is the body text which is used for most of the design, like paragraphs, lists, etc.