link(rel="stylesheet" href="./components/sharedelements/gradientbutton/button.scss")

mixin gradientButton()
  .gradientbutton
    div(class = "buttonLogin")
      .arrow 🡢
      p(class = "insideText") Войти
