@mixin buttonGradient($top, $left) {
  position: absolute;
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  left: $left;
  top: $top;
  bottom: 106px;
  right: 30px;
}

.buttonLogin {
  @include buttonGradient(208px, 30px);
}

.buttonToPayment {
  @include buttonGradient(498px, 30px)
}

.insideText {
  position: absolute;
  width: 280px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 20px;
  right: 20px;
  top: 14px;
  bottom: 15px;
}

.arrow {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  left: 276px;
}