include  components/cards/cards
include  components/colorstypes/colorsTypes

doctype html

html(lang="en")
  head
    style
      include reset.css
    meta(charset="UTF-8")
    title Test page
  body
    //+colorsTypes()
    +cards()