doctype html

html(lang="en")
  head
    //link(rel="stylesheet" href="/index.css")
    meta(charset="UTF-8")
  body
    h1 UI kit:
    ul
      li
        a(href = "./colorstypes/ColorsTypes.pug") Color types
      li
        a(href = "./cards/Cards.pug") Cards
      li
        a(href = "./formelements/Elements.pug") Elements