include  components/cards/login/login
include  components/colorstypes/colorsTypes

doctype html

html(lang="en")
  head
    style
      include reset.scss
    meta(charset="UTF-8")
    title Test page
  body
    +colorsTypes()
