include ../../sharedelements/Inputbox
include ../../sharedelements/gradientButton
include ../../sharedelements/Text
include ../../sharedelements/Button
include ../../sharedelements/BoldText

link(rel="stylesheet" href="./components/cards/cards.scss")

mixin login(options)
  .loginBorder
    +boldText("Войти")
    +inputBox("Email")
    +inputBox("Пароль")
    +gradientButton("Войти")
    +text("Нет аккаунта на Toxin?")
    +whiteButton("Создать")