include ../../sharedelements/inputbox/Inputbox
include ../../sharedelements/gradientbutton/Button
include ../../sharedelements/text/Text
include ../../sharedelements/whitebutton/Button
include ../../sharedelements/boldtext/BoldText

link(rel="stylesheet" href="./components/cards/cards.scss")

mixin login()
    .loginBorder
        +boldText()
        +inputBox("Email")
        +inputBox("Пароль")
        +gradientButton()
        +text("Нет аккаунта на Toxin?")
        +whiteButton("Создать")