include ../../sharedelements/inputbox/Inputbox
include ../../sharedelements/gradientbutton/Button
include ../../sharedelements/text/Text
include ../../sharedelements/whitebutton/Button
include ../../sharedelements/boldtext/BoldText

link(rel="stylesheet" href="./components/cards/cards.scss")

mixin login(options)
  .loginBorder
    +boldText("Войти")
    +inputBox("Email")
    +inputBox("Пароль")
    +gradientButton("Войти")
    +text("Нет аккаунта на Toxin?")
    +whiteButton("Создать")