include ../../sharedelements/BoldText
include ../../sharedelements/Inputbox
include ../../sharedelements/RadioButton
include ../../sharedelements/Button
include ../../sharedelements/gradientButton

link(rel="stylesheet" href="./components/cards/cards.scss")

mixin regCard(options)
  .regCard
    +boldText("Регистрация аккаунта")
    +inputBox("Имя")
    +inputBox("Фамилия")
    +radioButton()
    +inputBox("ДД.ММ.ГГГГ")
    +inputBox("Email")
    +inputBox("Пароль")
    +gradientButton("Перейти к оплате")
    +whiteButton("Войти")