link(rel="stylesheet" href="/sharedelements/box.scss")

mixin inputBox(options)
  -
  .inputBox
    .formContainer
      table(class = "topText")
        th(class = "topTextColumnLeft")= options.left
        th(class = "topTextColumnRight")= options.right
      if options.arrow === true
        .arrowBox= options.placeholder
          .select-arrow expand_more
      else
        input(class = "inputBox" placeholder=options.placeholder)

