link(rel="stylesheet" href="/sharedelements/box.scss")

mixin inputBox(arg)
  .inputBox
    .formContainer
      table(class = "topText")
        th(class = "topTextColumnLeft") TEXT FIELD
        th(class = "topTextColumnRight") DEFAULT
      input(class = "inputBox" placeholder="  Email")
