include parts/Login
include parts/Findcard
include parts/PayCard
include parts/RegCard
include parts/Calendar

doctype html

html(lang="en")
  head
    link(rel="script" href="../../node_modules/jquery/dist/jquery.js")
    link(rel="stylesheet" href="/index.scss")
    meta(charset="UTF-8")
    title Cards
  body
    +login()
    +findCard()
    +payCard()
    +regCard()
    +calendar()